.App {
  text-align: center;
  width: 100%!important;
}

.ContainerStyle {
  background: " #61dafb";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainbgcss{
  background-image: url("./assets/mainbg.gif") ;
  
  
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.1));
}